/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #efe9e9;
    color: #00185c;
}

header {
    background-color: #d0d2d3;
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

header .logo img {
    margin-left: 10px;
    width: 50px;
    height: 50px;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffdd57;
}

/* Sección principal */
main {
    padding: 20px;
    text-align: center;
}

section {
    margin-bottom: 40px;
}

h1, h2 {
    color: #021896;
}

button {
    background-color: #00aaff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button a {
    color: white;
    text-decoration: none;
}

button:hover {
    background-color: #0077aa;
}

/* Sección de tienda */
#tienda {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.producto {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    width: 250px;
    margin: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.producto img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.producto h3 {
    color: #333;
    margin-bottom: 10px;
}

.producto p {
    color: #666;
    margin-bottom: 10px;
}

.producto button {
    margin-top: 10px;
}

.producto:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Footer */
footer {
    background-color: #00aaff;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 14px;
}

footer .redes-sociales a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s;
}

footer .redes-sociales a:hover {
    color: #ffdd57;
}
